@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Montserrat", sans-serif, Helvetica, Arial;
}
.body__modal {
  display: none;
  transition: opacity 0.5s;
  background-image: url("./src/7.jpg");
  background-size: cover;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  box-shadow: rgba(3, 52, 214, 0.3) 0px 0px 0px 4px;
  max-width: 25em;
  max-height: 48em;
}
.body__modal--active {
  display: block;
}
.body__modal__content {
  padding: 20px;
  line-height: 1.6em;
  width: auto;
  height: auto;
  font-size: 1.1em;
}
.body__modal__close-btn {
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid red;
  font-size: 2em;
  position: absolute;
  top: -60px;
  right: -60px;
  transition: 0.2s;
}
.body__modal__close-btn:hover {
  background-color: rgba(207, 29, 29, 0.6);
  transition: 0.2s;
  cursor: pointer;
}
.body__modal__close-btn:active {
  background-color: rgba(207, 29, 29, 0.9);
}
.body__modal__close-btn::after {
  content: "❌";
  font-size: 0.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body__modal__close-btn--active {
  display: block;
}

.main {
  background: url("./src/main-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-size: 1.2em;
  padding-top: 3em;
}
.main__container {
  position: relative;
  width: 90%;
  height: 90%;
  max-width: 60em;
  max-height: 40em;
  display: grid;
  grid-template-rows: 1fr 0.2fr;
}
.main__container__start-over-btn {
  background-color: rgba(255, 0, 0, 0.692);
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 15px 15px 0 0;
  font-weight: 600;
  position: absolute;
  bottom: 100%;
  right: 20px;
  border: 0 solid transparent;
}
.main__container__start-over-btn::after {
  content: "Start Over";
  color: white;
}
.main__container__start-over-btn:hover {
  background-color: rgba(211, 34, 34, 0.692);
  cursor: pointer;
}
.main__container__start-over-btn:active {
  background-color: rgba(255, 0, 0, 0.692);
}
.main__container__titulo {
  background-color: rgba(128, 128, 128, 0.9);
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 15px 15px 0 0;
  font-weight: 600;
  position: absolute;
  bottom: 100%;
  left: 25px;
}
.main__container__problema-cont {
  background-image: url("./src/7.jpg");
  background-size: cover;
  box-shadow: 10px 10px 20px 5px rgb(0, 0, 0);
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
}
.main__container__problema-cont__contenido {
  padding: 1.5em;
  line-height: 1.9em;
  display: grid;
  grid-template-rows: 3;
}
.main__container__problema-cont__contenido > span {
  margin-bottom: 2em;
}
.main__container__problema-cont__contenido__span2 {
  font-family: "Fira Code", monospace;
}
.main__container__solucion-flex {
  background-color: rgba(128, 128, 128, 0.9);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}
.main__container__solucion-flex__contenido__textarea {
  width: 18em;
  height: 4.5em;
  border: 0px solid transparent;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: "Fira Code", monospace;
  resize: none;
  scroll-behavior: smooth;
}
.main__container__solucion-flex__contenido__textarea:focus {
  outline: none;
}
.main__container__solucion-flex__contenido__btn {
  margin: 5px;
  padding: 6px;
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif, Helvetica, Arial;
}
.main__container__solucion-flex__contenido__btn:hover {
  box-shadow: 0px 0px 12px 4px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.main__container__solucion-flex__contenido__btn:active {
  transform: scale(0.95);
  background-color: rgb(233, 233, 233);
}

code {
  font-size: 1.3em;
}

@media (max-width: 443px) {
  .body {
    background-color: #000;
  }

  .main {
    font-size: 1em;
  }
  .main__container__titulo {
    left: 0px;
  }
  .main__container__problema-cont {
    border-radius: 0px 20px 0 0;
  }

  code {
    font-size: 1.1em;
  }
}
@media (max-width: 373px) {
  .main {
    padding-top: 5.8em;
  }
  .main__container__start-over-btn {
    width: 100vw;
    border-radius: 0 0 15px 15px;
    bottom: calc(100% + 5.3em);
    right: -18px;
  }
}
@media (max-height: 500px) {
  .body {
    background-color: #000;
  }

  .main {
    font-size: 1em;
    height: 100%;
  }
  .main__container__titulo {
    left: 0px;
  }
  .main__container__problema-cont {
    border-radius: 0px 20px 0 0;
  }
}

/*# sourceMappingURL=app.css.map */
