*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Montserrat', sans-serif, Helvetica, Arial;

        &__modal{
            display: none;
            // opacity: 0;
            transition: opacity .5s;
            background-image: url('./src/7.jpg');
            background-size: cover;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 1em;
            box-shadow: rgba(3, 52, 214, 0.3) 0px 0px 0px 4px;
            max-width: 25em;
            max-height: 48em;
            z-index: 2;
            
            &--active{
                display: block;
                // opacity: 1;
                // transition: opacity .5s;
            }

            &__content{
                padding: 20px;
                line-height: 1.6em;
                width: auto;
                height: auto;
                font-size: 1.1em;
                // overflow: scroll;
            }

            &__close-btn{
                display: none;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 3px solid red;
                font-size: 2em;
                position: absolute;
                top: -60px;
                right: -60px;
                transition: .2s;
                z-index: 2;
    
                &:hover{
                    background-color: rgba(207, 29, 29, 0.6);
                    transition: .2s;
                    cursor: pointer;
                }
                &:active{
                    background-color: rgba(207, 29, 29, 0.9);
                }
                &::after{
                    content: 'âŒ';
                    font-size: .7em;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &--active{
                    display: block;
                }                
            }
        }
}
//bg para inactividad funcionalidades main cuando modal
.bg-main-modal-behind{
    content: '';
    position: absolute;
    z-index: 1;
    opacity: 0.2;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
//focus on ANCHOR (no textarea)
.focus-here{
    position: absolute;  
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
}

.main{
    background: url('./src/main-background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    font-size: 1.2em;
    padding-top: 3em; // titulo

    &__container{
        position: relative;
        width: 90%;
        height: 90%;
        max-width: 60em;
        max-height: 40em;
        display: grid;
        grid-template-rows: 1fr 0.2fr;

        &__start-over-btn{
            background-color: rgba(255, 0, 0, 0.692);
            width: auto;
            height: auto;
            padding: 5px;
            border-radius: 15px 15px 0 0;
            font-weight: 600;
            position: absolute;
            bottom: 100%;
            right: 20px;
            border: 0 solid transparent;
            z-index: 999;

            &::after{
                content: 'Start Over';
                color: white;
            }
            &:hover{
                background-color: rgba(211, 34, 34, 0.7);
                cursor: pointer;
            }
            &:active{
                background-color: rgba(255, 0, 0, 0.8);
            }
        }
        
        &__titulo{
            background-color: rgba(128, 128, 128, 0.9);
            width: auto;
            height: auto;
            padding: 15px;
            border-radius: 15px 15px 0 0;
            font-weight: 600;
            position: absolute;
            bottom: 100%;
            left: 25px;
        }
        &__problema-cont{
            background-image: url('./src/7.jpg');
            background-size: cover;
            box-shadow: 10px 10px 20px 5px rgb(0, 0, 0);
            border-radius: 20px 20px 0 0;
            display: flex;
            align-items: center;

            &__contenido{
                padding: 1.5em;
                line-height: 1.9em;
                display: grid;
                grid-template-rows: 3;
                
                & > span{
                    margin-bottom: 2em;
                }
                
                &__span2{
                    font-family: 'Fira Code', monospace;
                }
            }
        }
        &__solucion-flex{            
            background-color: rgba(128, 128, 128, 0.9);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            border-radius: 0 0 20px 20px;
            padding: 10px;

            &__contenido{
                &__textarea{
                    width: 18em;
                    height: 4.5em;
                    border: 0px solid transparent;
                    padding: 15px 20px;
                    border-radius: 5px;
                    font-family: 'Fira Code', monospace;
                    resize: none;
                    scroll-behavior: smooth;

                    &:focus{
                        outline: none;
                    }
                }
                &__btn{
                    margin: 5px;
                    padding: 6px;
                    background-color: white;
                    border: 0;
                    border-radius: 5px;
                    font-family: 'Montserrat', sans-serif, Helvetica, Arial;

                    &:hover{
                        box-shadow: 0px 0px 12px 4px rgba(255, 255, 255, 0.6);
                        cursor: pointer;
                    }
                    &:active{
                        transform: scale(0.95);
                        background-color: rgb(233, 233, 233);
                    }
                }
            }

            
        }
    }
}
code{
    font-size: 1.3em;
}
@media (max-width: 443px) {
    .body{
        background-color: #000;
    }
    .main{
        font-size: 1em;

        &__container{ 
            &__titulo{
                left: 0px;
            }
            &__problema-cont{
                border-radius: 0px 20px 0 0;
            }
        }
    }
    code{
        font-size: 1.1em;
    }
}
@media (max-width: 373px){
    .main{
        padding-top: 5.8em; // titulo

        &__container{
            &__start-over-btn{
                position: fixed;
                width: 100%;
                border-radius: 0 0 15px 15px;
                bottom: 97%;
                top: 0;
                right: 0;
                padding: 0;
            }
        }
    }
}
@media (max-height: 500px) {
    .body{
        background-color: #000;
    }
    .main{
        font-size: 1em;

        height: 100%;

        &__container{ 
            &__titulo{
                left: 0px;
            }
            &__problema-cont{
                border-radius: 0px 20px 0 0;
            }
        }
    }
}
